<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario CSS externo</title>

    <link rel="stylesheet" href="../public/css/estilos.css">

</head>
<body>

    <h1>Formulario de registro de actividades <br> para universitarios</h1>

    <label for="nombre">Ingrese su nombre:</label>
    <input type="text" id="nombre" name="nombre" 
        placeholder="Stalyn Landazuri">
    <br><br>

    <label for="descripcion">Escriba en máximo 100 palabras sus objetivos para los cursos:</label>
    <br>
    <textarea name="descripcion" id="descripcion" rows="4" cols="53" 
        maxlength="100" placeholder="Descripción"></textarea>
    <br><br>

    <label for="universidad">Universidad:</label><br>
    <select name="universidad" id="universidad">
        <option value="" disabled selected>Seleccione una</option>
        <option value="espe">ESPE</option>
        <option value="uce">UCE</option>
        <option value="utpl">UTPL</option>
    </select>
    <br><br>

    <label>Sexo:</label><br>
    <input type="radio" name="sexo" id="hombre" value="hombre">
    <label for="hombre">Hombre</label>

    <input type="radio" name="sexo" id="mujer" value="mujer">
    <label for="mujer">Mujer</label>

    <input type="radio" name="sexo" id="otro" value="otro" >
    <label for="otro">Otro</label>
    <br><br>

    <label>Actividades:</label><br>
    <input type="checkbox" name="actividades[]" id="visita" value="visita">
    <label for="visita">Visita al museo</label><br>

    <input type="checkbox" name="actividades[]" id="taller" value="taller">
    <label for="taller">Taller de arte</label><br>

    <input type="checkbox" name="actividades[]" id="excursion" value="excursion">
    <label for="excursion">Excursión</label>
    
</body>
</html>
